<div align="center">
<h1> Welcome to Cats versus Crabs!!!!</h1>
<p>Hello <%= @game.player_1.name %> and <%= @game.player_2.name %>. Prepare for BATTLE!</p>
<br>
<p> <%= @game.player_1.name %> has <%= @game.player_1.hp %> hit points.</p><br>
<p> <%= @game.player_2.name %> has <%= @game.player_2.hp %> hit points.</p>
<br>
<p><%= @game.active_player.name %>'s turn</p>
<br>
<a href="/attack">Attack!</a>
</div>
